.container {
  padding: var(--m-gap) var(--m-gap) var(--m-gap) var(--l-gap);
  background-color: var(--el-color);
  box-shadow: var(--xl-shadow);
  border-radius: var(--round-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.button {
  width: 48px;
  height: 48px;
}

.childrenContainer {
  height: 100%;
}