.input {
  padding: var(--m-gap) var(--m-gap) var(--m-gap) var(--l-gap);
  background-color: var(--el-color);
  box-shadow: var(--s-shadow);
  border-radius: var(--round-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  border: none;
  outline: none;
  transition: box-shadow .3s;
}

.input::placeholder {
  color: var(--unactive-color);
}

.input:focus {
  box-shadow: var(--xl-shadow);
  outline: var(--unactive-color) 1px solid;
}

.input:invalid:not(:placeholder-shown) {
  outline: var(--invalid-color) 1px solid;
}