.container {
  display: flex;
  flex-direction: column;
  gap: var(--s-gap);
}

.logContainer {
  display: flex;
  gap: var(--m-gap);
  align-items: center;
}

.logDataContainer {
  display: flex;
  flex-direction: column;
  gap: var(--xs-gap);
}

.changeModalContent {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: var(--s-gap);
  margin: 0 auto;
}

.emotionContainer {
  display: flex;
  gap: var(--m-gap);
  width: fit-content;
  margin: 0 auto;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--l-gap);
}

.emotionImg {
  filter: grayscale(.4);
  border-radius: 50%;
  transition: filter .3s, scale .3s, box-shadow .3s;
}

.emotionActiveImg {
  filter: grayscale(0);
  scale: 1.2;
  box-shadow: 0 0 var(--s-gap) var(--happy-color);
}