*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

path {
  color: var(--text-color);
}

button,
input,
textarea,
select {
  color: inherit;
}

button {
  cursor: pointer;
}

span {
  cursor: default;
}

html,
body {
  height: 100vh;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.15;
  color: var(--text-color);
  background: var(--bg-gradient);
}

ul,
li {
  list-style: none;
}

a {
  color: var(--unactive-color);
  text-decoration: underline;
}

img {
  pointer-events: none;
}