*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  -webkit-tap-highlight-color: transparent;
}

path {
  color: var(--text-color);
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button,
input,
textarea,
select {
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button span {
  cursor: pointer;
}

span {
  cursor: default;
}

html,
body {
  height: 100vh;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: var(--font);
  line-height: 1.15;
  color: var(--text-color);
  background: var(--bg-gradient);
}

ul,
li {
  list-style: none;
}

a {
  color: var(--unactive-color);
  text-decoration: underline;
}

img {
  pointer-events: none;
}

h1,h2,h3 {
  font-weight: inherit;
  color: var(--title-color);
  font-size: 16px;
}

small {
  color: var(--unactive-color);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}