<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Если это реальный файл или папка — отдаем их
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Всё остальное отправляем в index.html
  RewriteRule ^ index.html [L]
</IfModule>