.titleContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: var(--l-gap);
}

.title {
  color: var(--title-color);
}

.label {
  width: 100%;
  position: relative;
  z-index: 2;
}

.centeredContainer {
  padding: var(--m-gap) var(--m-gap) var(--m-gap) var(--l-gap);
  background-color: var(--el-color);
  box-shadow: var(--xl-shadow);
  border-radius: var(--round-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 490px;
  position: relative;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding-left: var(--l-gap);
}