.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 0 var(--m-gap);
}

.modal {
  background: var(--el-color);
  border-radius: var(--round-radius);
  padding: var(--xl-gap) var(--m-gap) var(--m-gap) var(--m-gap);
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--m-shadow);
}

.title {
  margin-bottom: var(--m-gap);
  text-align: center;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--s-gap);
  margin-top: var(--l-gap);
}

.actions button {
  width: 100%; 
}