.input {
  padding: var(--m-gap) var(--m-gap) var(--m-gap) var(--l-gap);
  background-color: var(--el-color);
  box-shadow: var(--s-shadow);
  border-radius: var(--round-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: transparent 1px solid;
  outline: none;
  transition: border .3s;
}

.input::-webkit-inner-spin-button,
.input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.input::placeholder {
  color: var(--unactive-color);
}

.input:focus {
  box-shadow: var(--xl-shadow);
  border: var(--unactive-color) 1px solid;
}

.input:invalid:not(:placeholder-shown) {
  border: var(--invalid-color) 1px solid;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  position: relative;
}

.inputInvalid {
  outline: var(--invalid-color) 1px solid !important;
  box-shadow: none !important;
}

.errorText {
  color: var(--invalid-color);
  font-size: 12px;
  padding-left: var(--l-gap);
}

.inputIcon {
  position: absolute;
  right: 0;
  transform: translateX(-100%);
  width: fit-content;
}