.textareaWrapper {
  background-color: var(--el-color);
  box-shadow: var(--s-shadow);
  border-radius: 32px;
  overflow: hidden;
  display: flex;
  width: 100%;
  padding: var(--m-gap);
}

.textarea {
  width: 100%;
  min-height: 64px;
  padding: 0 var(--m-gap) var(--m-gap);
  padding-bottom: 24px;
  background: transparent;
  border: none;
  outline: none;
  resize: vertical;
  color: var(--text-color);
}

.textarea::-webkit-resizer {
  background-image: var(--resizer-icon);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.textareaWrapper:focus-within {
  box-shadow: var(--xl-shadow);
  outline: var(--unactive-color) 1px solid;
}

.textarea::-webkit-scrollbar {
  width: 6px;
}

.textarea::-webkit-scrollbar-track {
  background: var(--bg-gradient);
}

.textarea::-webkit-scrollbar-thumb {
  background-color: var(--unactive-color);
  border-radius: 10px;
}

.textarea::placeholder {
  color: var(--unactive-color);
}