.psychologistImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.userContainer {
  display: flex;
  gap: var(--m-gap);
  align-items: center;
  width: fit-content;
  margin: var(--l-gap) auto;
}

.userData {
  display: flex;
  flex-direction: column;
}

.userAvatar {
  border: 1px solid var(--shadow-color);
}