.profile_image {
  height: 128px;
  width: 128px;
  border-radius: var(--round-radius);
  object-fit: cover;
}

.userContainer {
  display: flex;
  gap: var(--s-gap);
}

.userInfoContainer {
  margin-top: var(--m-gap);
  flex: 1;
}

.bio {
  margin-top: var(--s-gap);
  padding-bottom: var(--xl-gap);
}

.buttonContainer {
  display: flex;
  gap: var(--xs-gap);
  margin-top: var(--m-gap);
}

.buttonContainer button {
  height: 48px;
  width: 48px;
  padding: 0;
}

.image_container {
  height: 128px;
  width: 128px;
  padding: 0 !important;
  margin: 0 !important;
}